<h1>Bonjour !</h1>

<p>Pour réinitialiser votre mot de passe, merci de cliquer sur ce lien :</p>

<a href="{{ url('app_reset_password', {token: resetToken}) }}">{{ url('app_reset_password', {token: resetToken}) }}</a>

<p>Ce lien expirera dans une heure.</p>
